flask
flask-cors
flask-jwt-extended
flask-limiter
gunicorn
pymongo
python-dotenv
werkzeug
scikit-learn==1.6.1
numpy
pandas
torch
transformers
sentence-transformers
librosa
soundfile
pytesseract
Pillow
dnspython
requests
tldextract
whois
